# Playground Test

## Prior 20181008

In [9]:
df.describe()

        STATCODEA01  STATCODEA02  STATCODEA03  STATCODEB01  STATCODEB02
count        568.00       539.00        741.0       926.00       926.00
unique       535.00       488.00        675.0       662.00       662.00
top           13.78        36.37         13.0        13.82        13.82
freq           3.00         3.00          4.0         4.00         4.00

In [7]:
from dataprep import multi_read_data
import pandas as pd
import numpy as np

a = '../testdata/xls/multi_station/'
df = multi_read_data(a)
df[df == '-'] = np.nan

df

..\testdata\xls\multi_station\STATCODEA01.xlsx
..\testdata\xls\multi_station\STATCODEA02.xlsx
..\testdata\xls\multi_station\STATCODEA03.xlsx
..\testdata\xls\multi_station\STATCODEB01.xlsx
..\testdata\xls\multi_station\STATCODEB02.xls

           STATCODEA01 STATCODEA02 STATCODEA03 STATCODEB01 STATCODEB02
date
1999-01-01         NaN         NaN         NaN       22.23       22.23
1999-01-02         NaN       15.84         NaN         NaN         NaN
1999-01-03         NaN         NaN         NaN         NaN         NaN
1999-01-04         NaN       20.94         NaN         NaN         NaN
1999-01-05         NaN         NaN         NaN       45.87       45.87
1999-01-06         NaN         NaN         NaN         NaN         NaN
1999-01-07         NaN         NaN         NaN         NaN         NaN
1999-01-08         NaN       23.97         NaN         NaN         NaN
1999-01-09         NaN         NaN         NaN         NaN         NaN
1999-01-10         NaN         NaN         NaN       51.87       51.87
1999-01-11         NaN       19.73         NaN       22.57       22.57
1999-01-12         NaN       15.86         NaN         NaN         NaN
1999-01-13         NaN         NaN         NaN         NaN         NaN
1999-01-14         NaN       23.17         NaN         NaN         NaN
1999-01-15         NaN       24.03         NaN         NaN         NaN
1999-01-16         NaN       22.92         NaN         NaN         NaN
1999-01-17         NaN       42.94         NaN         NaN         NaN
1999-01-18         NaN       19.73         NaN       32.11       32.11
1999-01-19         NaN         NaN         NaN       27.83       27.83
1999-01-20         NaN       13.71         NaN         NaN         NaN
1999-01-21         NaN         NaN         NaN         NaN         NaN
1999-01-22         NaN         NaN         NaN       13.82       13.82
1999-01-23         NaN       16.36         NaN       20.71       20.71
1999-01-24         NaN         NaN         NaN         NaN         NaN
1999-01-25         NaN         NaN         NaN       19.58       19.58
1999-01-26         NaN       18.76         NaN       23.45       23.45
1999-01-27         NaN       21.17         NaN         NaN         NaN
1999-01-28         NaN       18.57         NaN         NaN         NaN
1999-01-29         NaN         NaN         NaN       30.02       30.02
1999-01-30         NaN         NaN         NaN       31.24       31.24
...                ...         ...         ...         ...         ...
2006-12-02         NaN         NaN       17.21         NaN         NaN
2006-12-03         NaN         NaN         NaN         NaN         NaN
2006-12-04         NaN         NaN         NaN         NaN         NaN
2006-12-05         NaN         NaN        28.5         NaN         NaN
2006-12-06         NaN         NaN       15.55         NaN         NaN
2006-12-07         NaN         NaN       43.91         NaN         NaN
2006-12-08         NaN         NaN       10.63         NaN         NaN
2006-12-09         NaN         NaN         NaN         NaN         NaN
2006-12-10         NaN         NaN       23.05         NaN         NaN
2006-12-11         NaN         NaN        31.1         NaN         NaN
2006-12-12         NaN         NaN         NaN         NaN         NaN
2006-12-13         NaN         NaN       26.33         NaN         NaN
2006-12-14         NaN         NaN         NaN         NaN         NaN
2006-12-15         NaN         NaN        12.2         NaN         NaN
2006-12-16         NaN         NaN        17.7         NaN         NaN
2006-12-17         NaN         NaN         NaN         NaN         NaN
2006-12-18         NaN         NaN         NaN         NaN         NaN
2006-12-19         NaN         NaN       11.25         NaN         NaN
2006-12-20         NaN         NaN       25.42         NaN         NaN
2006-12-21         NaN         NaN          29         NaN         NaN
2006-12-22         NaN         NaN         NaN         NaN         NaN
2006-12-23         NaN         NaN       60.24         NaN         NaN
2006-12-24         NaN         NaN       15.81         NaN         NaN
2006-12-25         NaN         NaN         NaN         NaN         NaN
2006-12-26         NaN         NaN       21.44         NaN         NaN
2006-12-27         NaN         NaN         NaN         NaN         NaN
2006-12-28         NaN         NaN         NaN         NaN         NaN
2006-12-29         NaN         NaN       12.19         NaN         NaN
2006-12-30         NaN         NaN         NaN         NaN         NaN
2006-12-31         NaN         NaN       16.59         NaN         NaN

[2922 rows x 5 columns]

In [ ]:
mydf = df.loc['20010101':'20020228',['STATCODEA01','STATCODEA03']].head(10)

In [2]:
mydf[mydf == '-'] = np.NaN

NameError: name 'mydf' is not defined

In [3]:
newdf = df.replace('-',np.NaN)

NameError: name 'df' is not defined

In [4]:
bymonth = df.groupby(df.index.month)['STATCODEA01'].mean()

NameError: name 'df' is not defined

In [5]:
df

NameError: name 'df' is not defined

In [99]:
mydf

           STATCODEA01 STATCODEA03
date
2001-01-01       19.18         NaN
2001-01-02         NaN         NaN
2001-01-03       27.19         NaN
2001-01-04       65.52         NaN
2001-01-05         NaN         NaN
2001-01-06         NaN         NaN
2001-01-07       30.37         NaN
2001-01-08       48.14         NaN
2001-01-09         NaN         NaN
2001-01-10       17.62         NaN

In [100]:
df[df == '-'] = np.NAN

In [122]:
df

           STATCODEA01 STATCODEA02 STATCODEA03 STATCODEB01 STATCODEB02
date
1999-01-01         NaN         NaN         NaN       22.23       22.23
1999-01-02         NaN       15.84         NaN         NaN         NaN
1999-01-03         NaN         NaN         NaN         NaN         NaN
1999-01-04         NaN       20.94         NaN         NaN         NaN
1999-01-05         NaN         NaN         NaN       45.87       45.87
1999-01-06         NaN         NaN         NaN         NaN         NaN
1999-01-07         NaN         NaN         NaN         NaN         NaN
1999-01-08         NaN       23.97         NaN         NaN         NaN
1999-01-09         NaN         NaN         NaN         NaN         NaN
1999-01-10         NaN         NaN         NaN       51.87       51.87
1999-01-11         NaN       19.73         NaN       22.57       22.57
1999-01-12         NaN       15.86         NaN         NaN         NaN
1999-01-13         NaN         NaN         NaN         NaN         NaN
1999-01-14         NaN       23.17         NaN         NaN         NaN
1999-01-15         NaN       24.03         NaN         NaN         NaN
1999-01-16         NaN       22.92         NaN         NaN         NaN
1999-01-17         NaN       42.94         NaN         NaN         NaN
1999-01-18         NaN       19.73         NaN       32.11       32.11
1999-01-19         NaN         NaN         NaN       27.83       27.83
1999-01-20         NaN       13.71         NaN         NaN         NaN
1999-01-21         NaN         NaN         NaN         NaN         NaN
1999-01-22         NaN         NaN         NaN       13.82       13.82
1999-01-23         NaN       16.36         NaN       20.71       20.71
1999-01-24         NaN         NaN         NaN         NaN         NaN
1999-01-25         NaN         NaN         NaN       19.58       19.58
1999-01-26         NaN       18.76         NaN       23.45       23.45
1999-01-27         NaN       21.17         NaN         NaN         NaN
1999-01-28         NaN       18.57         NaN         NaN         NaN
1999-01-29         NaN         NaN         NaN       30.02       30.02
1999-01-30         NaN         NaN         NaN       31.24       31.24
...                ...         ...         ...         ...         ...
2006-12-02         NaN         NaN       17.21         NaN         NaN
2006-12-03         NaN         NaN         NaN         NaN         NaN
2006-12-04         NaN         NaN         NaN         NaN         NaN
2006-12-05         NaN         NaN        28.5         NaN         NaN
2006-12-06         NaN         NaN       15.55         NaN         NaN
2006-12-07         NaN         NaN       43.91         NaN         NaN
2006-12-08         NaN         NaN       10.63         NaN         NaN
2006-12-09         NaN         NaN         NaN         NaN         NaN
2006-12-10         NaN         NaN       23.05         NaN         NaN
2006-12-11         NaN         NaN        31.1         NaN         NaN
2006-12-12         NaN         NaN         NaN         NaN         NaN
2006-12-13         NaN         NaN       26.33         NaN         NaN
2006-12-14         NaN         NaN         NaN         NaN         NaN
2006-12-15         NaN         NaN        12.2         NaN         NaN
2006-12-16         NaN         NaN        17.7         NaN         NaN
2006-12-17         NaN         NaN         NaN         NaN         NaN
2006-12-18         NaN         NaN         NaN         NaN         NaN
2006-12-19         NaN         NaN       11.25         NaN         NaN
2006-12-20         NaN         NaN       25.42         NaN         NaN
2006-12-21         NaN         NaN          29         NaN         NaN
2006-12-22         NaN         NaN         NaN         NaN         NaN
2006-12-23         NaN         NaN       60.24         NaN         NaN
2006-12-24         NaN         NaN       15.81         NaN         NaN
2006-12-25         NaN         NaN         NaN         NaN         NaN
2006-12-26         NaN         NaN       21.44         NaN         NaN
2006-12-27         NaN         NaN         NaN         NaN         NaN
2006-12-28         NaN         NaN         NaN         NaN         NaN
2006-12-29         NaN         NaN       12.19         NaN         NaN
2006-12-30         NaN         NaN         NaN         NaN         NaN
2006-12-31         NaN         NaN       16.59         NaN         NaN

[2922 rows x 5 columns]

In [115]:

df.groupby([df.index.year]).describe().round().T

date                 1999   2000   2001   2002   2003   2004   2005   2006
STATCODEA01 count     0.0    0.0  191.0  197.0  180.0    0.0    0.0    0.0
            unique    0.0    0.0  187.0  194.0  174.0    0.0    0.0    0.0
            top       NaN    NaN   26.0   21.0   14.0    NaN    NaN    NaN
            freq      NaN    NaN    2.0    2.0    3.0    NaN    NaN    NaN
STATCODEA02 count   180.0    0.0  186.0    0.0  173.0    0.0    0.0    0.0
            unique  173.0    0.0  180.0    0.0  171.0    0.0    0.0    0.0
            top      26.0    NaN   16.0    NaN   12.0    NaN    NaN    NaN
            freq      2.0    NaN    2.0    NaN    2.0    NaN    NaN    NaN
STATCODEA03 count     0.0    0.0    0.0    0.0  189.0  191.0  175.0  186.0
            unique    0.0    0.0    0.0    0.0  186.0  180.0  171.0  182.0
            top       NaN    NaN    NaN    NaN   15.0   13.0   48.0   27.0
            freq      NaN    NaN    NaN    NaN    2.0    3.0    2.0    2.0
STATCODEB01 count   195.0  195.0  171.0  179.0  186.0    0.0    0.0    0.0
            unique  192.0  192.0  165.0  176.0  183.0    0.0    0.0    0.0
            top      17.0   17.0   16.0   22.0   28.0    NaN    NaN    NaN
            freq      2.0    2.0    2.0    2.0    2.0    NaN    NaN    NaN
STATCODEB02 count   195.0  195.0  171.0  179.0  186.0    0.0    0.0    0.0
            unique  192.0  192.0  165.0  176.0  183.0    0.0    0.0    0.0
            top      17.0   17.0   16.0   22.0   28.0    NaN    NaN    NaN
            freq      2.0    2.0    2.0    2.0    2.0    NaN    NaN    NaN

In [120]:
df.isna().sum()

STATCODEA01    2354
STATCODEA02    2383
STATCODEA03    2181
STATCODEB01    1996
STATCODEB02    1996
dtype: int64

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 1999-01-01 to 2006-12-31
Freq: D
Data columns (total 5 columns):
STATCODEA01    568 non-null object
STATCODEA02    539 non-null object
STATCODEA03    741 non-null object
STATCODEB01    926 non-null object
STATCODEB02    926 non-null object
dtypes: object(5)
memory usage: 217.0+ KB

In [134]:
for col in df:
    df[col] = pd.to_numeric(df[col])

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2922 entries, 1999-01-01 to 2006-12-31
Freq: D
Data columns (total 5 columns):
STATCODEA01    568 non-null float64
STATCODEA02    539 non-null float64
STATCODEA03    741 non-null float64
STATCODEB01    926 non-null float64
STATCODEB02    926 non-null float64
dtypes: float64(5)
memory usage: 137.0 KB

In [139]:
df['STATCODEA01'].idxmax()

Timestamp('2003-08-13 00:00:00', freq='D')

## 20181008

In [3]:
import pandas as pd
import pathlib
import sys

In [5]:
import prepkit

In [6]:
singlefile = pathlib.Path('../testdata/xls/fmderi/PHTANJUNGBARU/2005 HUJAN TANJUNG BARU.xls')
rawdf = prepkit.get_rawdf(singlefile)

      2     3     4     5     6     7     8     9     10    11    12    13
19  20.8     -     -     -   9.2  11.6     -   6.3     -     -  10.5  32.6
20     -   0.8   0.8     -     -     -  20.8     -   0.7    55  15.7     -
21  13.3     -     -  32.7     -  20.5  23.6  25.1    31    37     -  21.6
22  61.6   6.5  17.2     -  30.4     -     -     -   0.9     8     -     -
23   0.7     -   9.6     -     -  33.7  38.7     -   0.5     -  16.8  25.9
24  31.8  25.8     -  18.2     -     -     -     -     -   7.6   0.6    51
25  37.6  11.3     -  13.5     -     -   5.3  31.2  12.5     -  20.1  12.6
26  16.2     -     -   9.3  27.3     -     -   2.3     -     -     -     -
27   8.3     -  23.5     -     -     -     -   2.9  21.5   0.6   1.9   1.7
28  42.6  51.2  38.4     -     -  18.6     -     -    36     -     -     -
29     -  86.3     -  26.6     -     -  36.2     -     -     -     -  67.9
30     -  51.7   0.6     -     -     -  41.8     -  24.6  21.8   7.6    81
31   9.3     -  10.3     -   0.5  28.2     -  25.4     -     -     -    99
32  11.8     -     -     -  31.6  16.3  10.3     -   0.8     -  15.6  68.9
33     -  28.3     -     -     -   7.4  36.6     9     -     -     -  25.1
34     -     -     -  30.7     -     -     -     -     -   9.2     -     -
35     -  10.6     -     -     -     -  27.4     -  31.6     -    12  50.1
36     -     -   0.5     -     -     -  51.2  25.3   8.5     -     -  32.1
37     -     -  13.9  83.6   8.5     -  36.7  20.3     -   9.2  19.3   0.9
38     -     -     -     -     -  18.6   9.3     -   2.5   0.5     -    13
39     -     -     -     -     -     -     -  65.4     -   6.2  97.6     -
40  16.9    36     -     -     -     -     -     -     -     -     -     -
41     -     -   0.7  16.3   0.9     -     -     -   0.9     -   8.8    19
42     -  18.5     -     -  30.6     -  17.2  26.1   0.2     -  64.3  29.5
43  21.7     -  38.5  33.6     -   6.3     -  24.9     -  52.3  20.3  23.1
44  13.8     -  14.4     -     -     -     -   5.6  24.6     -    41     -
45     -     -   2.8     -     -     -  20.7   0.9     -     -     -  49.6
46   6.2  32.6     -     -   8.7     -     -   0.8    35     -     -     -
47     -     -   1.9   0.8     -     -  13.3   6.1     -    34  41.7  22.4
48  43.3     -  27.8     -     -     -     -     -     -     -     -    42
49  30.6     -     -     -     -     -     -  23.8     -   0.8     -  41.2

## 20181012

In [6]:
%matplotlib inline
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import prepkit
%load_ext autoreload
%autoreload 2
%aimport prepkit

In [18]:
dokph = '../testdata/xls/fmderi/PHTANJUNGBARU/2003 HUJAN TANJUNG BARU.xls'
dokpd = '../testdata/xls/fmderi/PDAPALAKBERUNG/2015 PALAKBENGKERUNG.xls'

In [25]:
rawph = prepkit.get_rawdf(dokph)
dfph = prepkit.tf_rawdf(rawph, 2003, name='TANJUNGBARU')
dfph[dfph == '-'] = 0.
dfph.infer_objects()
dfph

           TANJUNGBARU
date
2003-01-01           0
2003-01-02           0
2003-01-03           0
2003-01-04           0
2003-01-05           0
2003-01-06        16.4
2003-01-07           0
2003-01-08        10.7
2003-01-09           0
2003-01-10        28.6
2003-01-11           0
2003-01-12         6.5
2003-01-13           0
2003-01-14           0
2003-01-15        35.7
2003-01-16        96.3
2003-01-17           0
2003-01-18        51.8
2003-01-19           0
2003-01-20           0
2003-01-21        23.3
2003-01-22         4.5
2003-01-23           0
2003-01-24           0
2003-01-25           0
2003-01-26        16.8
2003-01-27           0
2003-01-28        38.5
2003-01-29        19.3
2003-01-30           0
...                ...
2003-12-02           0
2003-12-03           0
2003-12-04         6.8
2003-12-05           0
2003-12-06          23
2003-12-07           0
2003-12-08        31.4
2003-12-09           0
2003-12-10         2.8
2003-12-11        40.5
2003-12-12           0
2003-12-13           0
2003-12-14           0
2003-12-15           0
2003-12-16           0
2003-12-17           0
2003-12-18        62.7
2003-12-19           0
2003-12-20           0
2003-12-21           0
2003-12-22        28.5
2003-12-23        14.3
2003-12-24           0
2003-12-25           0
2003-12-26           0
2003-12-27        16.2
2003-12-28        11.5
2003-12-29           0
2003-12-30           0
2003-12-31        28.4

[365 rows x 1 columns]

In [28]:
dfph = dfph.assign(month=dfph.index.month, day=dfph.index.day)

           TANJUNGBARU  month  day
date
2003-01-01           0      1    1
2003-01-02           0      1    2
2003-01-03           0      1    3
2003-01-04           0      1    4
2003-01-05           0      1    5
2003-01-06        16.4      1    6
2003-01-07           0      1    7
2003-01-08        10.7      1    8
2003-01-09           0      1    9
2003-01-10        28.6      1   10
2003-01-11           0      1   11
2003-01-12         6.5      1   12
2003-01-13           0      1   13
2003-01-14           0      1   14
2003-01-15        35.7      1   15
2003-01-16        96.3      1   16
2003-01-17           0      1   17
2003-01-18        51.8      1   18
2003-01-19           0      1   19
2003-01-20           0      1   20
2003-01-21        23.3      1   21
2003-01-22         4.5      1   22
2003-01-23           0      1   23
2003-01-24           0      1   24
2003-01-25           0      1   25
2003-01-26        16.8      1   26
2003-01-27           0      1   27
2003-01-28        38.5      1   28
2003-01-29        19.3      1   29
2003-01-30           0      1   30
...                ...    ...  ...
2003-12-02           0     12    2
2003-12-03           0     12    3
2003-12-04         6.8     12    4
2003-12-05           0     12    5
2003-12-06          23     12    6
2003-12-07           0     12    7
2003-12-08        31.4     12    8
2003-12-09           0     12    9
2003-12-10         2.8     12   10
2003-12-11        40.5     12   11
2003-12-12           0     12   12
2003-12-13           0     12   13
2003-12-14           0     12   14
2003-12-15           0     12   15
2003-12-16           0     12   16
2003-12-17           0     12   17
2003-12-18        62.7     12   18
2003-12-19           0     12   19
2003-12-20           0     12   20
2003-12-21           0     12   21
2003-12-22        28.5     12   22
2003-12-23        14.3     12   23
2003-12-24           0     12   24
2003-12-25           0     12   25
2003-12-26           0     12   26
2003-12-27        16.2     12   27
2003-12-28        11.5     12   28
2003-12-29           0     12   29
2003-12-30           0     12   30
2003-12-31        28.4     12   31

[365 rows x 3 columns]

# 20181104

In [1]:
import pandas as pd

In [2]:
import pathlib

In [3]:
path = pathlib.Path('../testdata/bmkg/data_sul_tengah_1980_2018.xlsx')

In [4]:
pd.read_excel(path)

BadZipFile: File is not a zip file